// @import 'hc-offcanvas-nav/src/scss/core';
// @import 'hc-offcanvas-nav/src/scss/toggle';
// @import 'hc-offcanvas-nav/src/scss/theme-carbon';

.favicon{
  display: block;
  width: 50px;
  height: 50px;
}


